language: node_js
node_js: '10'
sudo: required
branches:
  only:
    - develop
    - master
    - /^(?i:release|hotfix).*$/
env:
  global:
    - GIT_SHA=$( git rev-parse HEAD )
    - BRANCH_NAME=${TRAVIS_PULL_REQUEST_BRANCH:=$TRAVIS_BRANCH}
jobs:
  include:
    - stage: run parallel
      script:
        - echo $TRAVIS_BRANCH
        - echo $TRAVIS_TAG
        - curl https://gist.githubusercontent.com/schul-cloud-bot/a849c38804174f99ca7818782bf03c00/raw/index.sh > integration-test.sh
        - chmod 700 integration-test.sh
        - bash integration-test.sh
      name: "test:integration"
      env:
        - IT_CLIENT_HOST=nuxtclient
        - IT_CLIENT_PORT=4000
      git:
        clone: false
      services:
        - docker
      install:
        - echo "skipping install"
      before_cache:
        - mkdir -p node_modules
cache:
  directories:
    - "$HOME/.npm" # cache all packages installed with "npm ci"