language: node_js
node_js: '12'
sudo: required
branches:
  only:
    - develop
    - master
    - /^((hotfix|feature|release)\/.*)$/
env:
  global:
    - DOCKER_COMPOSE_VERSION=1.27.4
    - GIT_SHA=$( git rev-parse HEAD )
    - BRANCH_NAME=${TRAVIS_PULL_REQUEST_BRANCH:=$TRAVIS_BRANCH}
jobs:
  include:
    - stage: run parallel
      name: test:end-to-end
      script:
        - echo $TRAVIS_BRANCH
        - echo $TRAVIS_TAG
        - curl "https://raw.githubusercontent.com/hpi-schul-cloud/end-to-end-tests/master/scripts/ci/fetch.travis.sh" | bash
      git:
        clone: false
      services:
        - docker
      before_install:
        - echo -e "machine github.com\n  login $CI_USER_TOKEN" > ~/.netrc
        - sudo rm /usr/local/bin/docker-compose
        - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
        - chmod +x docker-compose
        - sudo mv docker-compose /usr/local/bin
      install:
        - echo "skipping install"
      before_cache:
        - mkdir -p node_modules
      after_failure:
        - cat /home/travis/.npm/_logs/*debug.log
cache:
  directories:
    - "$HOME/.npm" # cache all packages installed with "npm ci"
