name: E2E test

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      e2e_tag:
        required: true
        type: string

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Set BRANCH_NAME on push
        run: |
            branch_arg=${{ inputs.ref }}
            echo "BRANCH_NAME=${branch_arg#refs/heads/}" >> $GITHUB_ENV
      - name: run git change
        run: |
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "ssh://git@github.com/"
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "git@github.com:"
      - name: execute tests
        env:
          DOCKER_ID: ${{ secrets.DOCKER_ID }}
          MY_DOCKER_PASSWORD: ${{ secrets.MY_DOCKER_PASSWORD }}
        run: curl "https://raw.githubusercontent.com/hpi-schul-cloud/end-to-end-tests/main/scripts/ci/fetch.github.sh" | bash -s ${{ inputs.e2e_tag }}
      - uses: actions/upload-artifact@v3
        name: upload result
        if: always()
        with:
          name: report
          path: end-to-end-tests/end-to-end-tests/reports
