name: Test

on: [push]

jobs:
  end-to-end-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run git change
        run: |
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "ssh://git@github.com/"
          git config --global url."https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "git@github.com:"
      - name: execute tests
        run: curl "https://raw.githubusercontent.com/hpi-schul-cloud/end-to-end-tests/develop/scripts/ci/fetch.github.sh" | bash
        env:
            ES_USER: ${{ secrets.ES_USER }}
            ES_PASSWORD: ${{ secrets.ES_PASSWORD }}
            SECRET_ES_MERLIN_USERNAME: ${{ secrets.SECRET_ES_MERLIN_USERNAME }}
            SECRET_ES_MERLIN_PW: ${{ secrets.SECRET_ES_MERLIN_PW }}
      - uses: actions/upload-artifact@v1
        name: upload results
        if: always()
        with:
          name: report
          path: end-to-end-tests/reports

